# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data
data/validated/
data/processed/
*.parquet

# Ignore CSV files except dataset chunks
!dataset_chunks/*.csv

# MLflow & DVC
mlruns/
.mlflow
/dataset/creditcard.csv
/.dvc/cache
/.dvc/tmp

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/

# Notebooks
.ipynb_checkpoints/
